.heroimage {
    width: 100%;
}

.navigation {
    display: none;
    flex-direction: row;
    margin: auto;
    border: 1px solid;
}

.navigation a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    margin: auto;
    font-size: 17px;
}

.navigation a:hover {
    color: rgb(89, 60, 255);
    transition: .5s;
    transform: scale(1.02);
}

.herotitle {
    font-size: 30px;
}

.herowelcome {
    position: absolute;
    top: 100px;
    padding: 5px;
    margin: 5px;
    font-size: 40px;
    text-shadow: 0 10px 10px rgb(114, 114, 114);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    border: 1px solid;
}

footer {
    border: 1px solid;
}

/*---------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
#menu {
    display: block;
    font-size: 1.5rem;
    border: 0;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #000000;
    color: white;
    position: absolute;
    top: 40px;
    right: 20px;
}
 
#menu::before {
    content: "☰";
}
 
#menu.open::before {
    content: "X";
}

/*---------------------------------------------*/